@model MISM5104.Models.QuizesVm

<div class="row">
	<div class="col-md-12">
		<h4>Quizes</h4>
		<table class="table table-striped table-bordered display compact" id="grid">
			<thead>
			<tr>
				<th>#</th>
				<th>Course Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Number of Quizes</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			@if (Model.Courses.Any())
			{
				var i = 1;
				foreach (var course in Model.Courses)
				{
					var nQuizes = Model.Quizes.Count(m => m.CourseId == course.Id);
					<tr>
						<td>@i</td>
						<td>@course.CourseName</td>
						<td>@course.StartDate.ToString("D")</td>
						<td>@course.EndDate.ToString("D")</td>
						<td>@nQuizes</td>
						<td>
							<a href="@Url.Action("AddQuiz", "Home", new { courseId = course.Id })" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Add/View Quizes </a>
						</td>
					</tr>
					i++;
				}
			}
			</tbody>
		</table>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#grid').dataTable();
		});

	</script>
}